.grow
  flex-grow: 1

.search
  position: relative
  border-radius: 5px
  background-color: rgba(255, 255, 255, .15)
  margin-left: 2px
  width: auto
  display: flex
  &:hover
      background-color: rgba(255, 255, 255, .25)
.title
  display: block

.search-icon
  width: 40px
  height: 100%
  position: absolute
  display: flex
  align-items: center
  justify-content: center

.input-root
  color: inherit
  width: 100%

.input-input
  padding: 2px 2px 2px 35px !important
  width: 160px !important
  color: white !important
  height: 30px !important
  transition: width 300ms !important
  &:focus
    width: 240px !important
