.main
  width: 100%
  display: flex
  align-items: center
  flex-direction: column
  padding: 30px

.flex
  display: flex

.container
  display: flex
  width: 1000px
  flex-direction: column
  justify-content: center
  padding: 10px 10px 0px 10px
  cursor: pointer
  margin-top: 30px

.title
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 5px

.grow
  flex-grow: 1

.more-info
  display: flex
  flex-direction: row
  justify-content: space-around
  padding-top: 15px

.hex-code
  font-weight: 500

.hex-chip
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.date-seperator
  margin-left: 15px !important
  margin-right: 15px !important

.uplink-table-footer
  display: flex
  flex-direction: row
  align-items: center

.export-csv-button
  height: 40px
