.device-footer
  display: flex
  flex-direction: column
  padding-left: 10px
  padding-right: 10px

.device-footer-header
  height: 46px
  flex-direction: row
  display: inherit
  align-items: center
  justify-content: space-between
  width: 100%

.device-description
  padding-top: 5px

.device
  width: 350px
  cursor: pointer
  margin-top: 30px

.device-addr
  font-weight: 500

.device-status
  height: 10px
  width: 10px
  border-radius: 5px
  position: relative
  left: 330px
  top: 5px

.device-status-online
  @extend .device-status
  background-color: lightgreen

.device-status-offline
  @extend .device-status
  background-color: red

.micro-icon
  height: 200px
  width: 350px
  transition: height 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275)

.micro-icon-hovered
  height: 230px
